<html>
<head>
  <title>Ads Generator</title>
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div id="container">
    <h1>Image Generator</h1>
    <p>Enter a brand/product description and one or more audience descriptions to generate images.</p>
    <!-- Add a div element with the class loader -->
    
    <div id="brand-page">
      <div class="form-group">
        <label for="brand">Brand/Product:</label>
        <input type="text" id="brand" name="brand" placeholder="input text">
      </div>
      <button type="button" id="next-to-audience">Next</button>
    </div>
    <div id="audience-page" style="display: none;">
      <div id="audience-container">
        <div class="audience-group">
          <label for="audience">User 1:</label><br>
          <input type="text" class="audience" name="audience[]" placeholder="input text">
          <button type="button" class="remove-audience"><i class="fa fa-trash"></i></button><br>
        </div>
      </div>
      <button type="button" id="add-audience"><i class="fa fa-plus"></i></button>
      <button type="button" id="next-to-image">Next</button>
    </div>
    <div class="loader" style="display: none;"></div>
    <div id="image-page" style="display: none;">
      <div id="image-container"></div>
    </div>
  </div>
  <!-- Add a script tag to link to the script.js file -->
  <script src="script.js"></script>
</body>
</html>
