<html>
<head>
  <title>Ads Generator</title>
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div id="container">
    <div id="brand-page">
      <h1>Image Generator</h1>
      <p>Enter a brand/product description to generate images.</p>
      <form method="POST" action="/generate">
        <div class="form-group">
          <label for="brand">Brand/Product Description:</label><br>
          <input id="brand" type="text" name="brand"><br><br>
        </div>
        <button id="next-to-audience" type="button">Next</button>
      </form>
    </div>

    <div id="audience-page" style="display: none;">
      <h1>Image Generator</h1>
      <p>Enter audience descriptions to generate images.</p>
      <form method="POST" action="/generate">
        <div class="form-group">
          <label>Audience Descriptions:</label><br>
          <div id="audience-container">
            <div class="audience-group">
              <label>User 1:</label><br>
              <input class="audience" type="text" name="audience[]" placeholder="input text">
              <button class="remove-audience" type="button"><i class="fa fa-trash"></i></button><br>
            </div>
          </div>
          <button id="add-audience" type="button"><i class="fa fa-plus"></i></button><br><br>
        </div>
        <button id="next-to-image" type="button">Next</button>
      </form>
    </div>

    <div id="image-page" style="display: none;">
      <h1>Image Generator</h1>
      <p>Generated images:</p>
      <div id="image-container"></div>
    </div>

  </div>
</body>
</html>
